@import '../assets/colors.scss';
#design_outer {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 150px 12.5vw 150px 12.5vw;
    @media screen and (max-height:740px) {
        padding: 110px 12vw 140px 15vw;
    }
    @media screen and (orientation:landscape) {
        padding: 20px 15vw 20px 20vw;
    }
}
#boxes {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -40px;
    padding-right: 6px;
    flex-shrink: 0;
    @media screen and (orientation:landscape) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width:525px) {
        padding-right: 24px;
    }
}
#design_content {
    flex-shrink: 0;
    align-content: flex-end;
    h4, h3, a {
        pointer-events: all;
        color: black;
    }
}
.box {
    border: 3px solid themeColor(secondary);
    margin-right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 500ms, width 500ms;
    width: 25vw;
    height: 25vw;
    @media screen and (max-height:740px) {
        width: 21.5vw;
        height: 21.5vw;
    }
    @media screen and (orientation:landscape) {
        width: 16vh;
        height: 16vh;
    }
    img {
        width: 70%;
        height: 70%;
        clip-path: circle(50% at 50% 50%);
    }
    div {
        position: absolute;
        opacity: 0;
        width: 25vw;
        height: 25vw;
        transition: opacity 200ms;
        transition-timing-function: ease-in;
        @media screen and (max-height:740px) {
            width: 21.5vw;
            height: 21.5vw;
        }
        @media screen and (orientation:landscape) {
            width: 15vh;
            height: 15vh;
        }
    }
    // margin-bottom: -3px;
}
$boxColors: 500, 400, 300, 200, 100, 50;
@for $i from 0 through 5 {
    #box-#{$i} > div {
        @include background(secondary, nth($boxColors, $i + 1))
    };
}
#box-5 {
    flex-shrink: 0;
}

.row {
    margin-bottom: -3px;
    display: flex;
    margin-left: 12.5vw;
    transform: translateX(-3px);
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 100%;
    @media screen and (orientation:landscape) {
        width: 80vw;
    }
}
#content_header {
    flex: 2;
    text-align: right;
    align-content: flex-end;
    padding-right: 1em;
}
#design_content {
    flex-wrap: wrap;
    h3, h4 {
        margin-block-start: 0;
        margin-block-end: 0.5em;
        pointer-events: all;
    }
    h3 {
        flex: 4;
        flex-grow: 4;
    }
    h4 {
        flex: 1;
    }
    @media screen and (orientation:landscape) {
        margin-top: -40px;
    }
}