#menu_outer {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
};
.menu {
    position: absolute;
    background-color: #00FFFF;
    pointer-events: all;
}
#menu_fans {
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(50%, -50%);
    transition: width 500ms, height 500ms;
    transition-timing-function: ease-in-out;
}
#menu_fans > p {
    position: relative;
    display: none;
    opacity: 0;
    top: 50%;
    left: 20%;
    transition: opacity 500ms;
    transition-timing-function: ease-in-out;
}
#menu_fans > p > a {
    margin-left: 10px;
}
#menu_nav {
    background-color: transparent;
    left: 0px;
    top: 50vh;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid #00FFFF;
    border-right: 0px;
    transform: translateY(-50%);
    transition: left 500ms, border 500ms;
    transition-timing-function: ease-in-out;
}
#menu_nav_inner {
    position: absolute;
    // display: flex;
    left: -195px;
    top: 0;
    transform: translateY(-50%);
    transition: opacity 500ms;
    transition-timing-function: ease-out;
    opacity: 0;
}
#menu_nav_sub {
    position: absolute;
    left: -400px;
    top: 0;
    top: 50vh;
    border-top: 175px solid transparent;
    border-bottom: 175px solid transparent;
    border-right: 325px solid #00000098;
    transform: translateY(-50%);
    transition: left 500ms;
    transition-timing-function: ease-in-out;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu_nav_sub_inner {
    position: absolute;
    width: 100%;
    left: 100px;
    top: 0;
    transform: translateY(-50%);
    text-align: end;
}
#menu_nav_sub_inner > h2 {
    position: absolute;
    top: -80px;
    left: 10px;
    width: 200px;
    text-align: end;
    color: white;
    pointer-events: all;
} 
#menu_nav_sub_inner > div > h3 {
    text-align: end;
    width: 200px;
    color: lightgrey;
    pointer-events: all;
}
#menu_scroll {
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0 0;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, 50%);
}
#wedge_clip {
    position: relative;
    height: 130px;
    bottom: 25px;
    // bottom: -50px;
    width: 200px;
    left: 50%;
    // background-color: red;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transition: bottom 1s;
}
#wedge_rotate {
    position: relative;
    // background-color: green;
    height: 100%;
    width: 100%;
    // bottom: 5px;
    left: 50%;
    transform: translatex(-50%);
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 50% 100%;
}
.wedge {
    // display: none;
    // position: relative;
    position: absolute;
    left: 50%;
    // bottom: 40px;
    // top: calc(100vh - 90px);
    width: 0;
    height: 0;
    transform: translate(-50%, 0%);
    border-radius: 50%;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 130px solid #146BCC;
}
#wedgep {
    // display: none;
    // top: 100vh;
    // left: calc(50vw - 35px);
    // border-bottom: 110px solid transparent;
    // border-top: 110px solid transparent;
    // border-left: 180px solid #3D6999;
    // border-color: #3D6999;
    border-top-color: #3D6999;
    transform: translate(-50%, 0) rotate(90deg);
    transform-origin: 50% 100%;
}
#wedged {
    border-top-color: #FF6B40;
    transform: translate(-50%, 0) rotate(-90deg);
    transform-origin: 50% 100%;
    z-index: -1;
}
#menu_wedge {
    position: absolute;
    left: 50%;
    top: 100vh;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-radius: 50%;
    border-left: 30vh solid transparent;
    border-right: 30vh solid transparent;
    border-top: 60vh solid #146BCC;
    transition: top 300ms;
    transition-timing-function: ease-out;
}
#menu_wedge > h4 {
    position: absolute;
    width: 30vh;
    top: -50vh;
    left: 0;
    transform: translate(-50%);
    text-align: center;
    pointer-events: all;
}